<input type="text" style="margin-left: 500px ; margin-top: 50px"  placeholder="Enter the 1st item..."
[(ngModel)]="item1">

<input type="text" style="margin-left: 50px" placeholder="Enter price..."
[(ngModel)]="price1">
<br>
<input type="text" style="margin-left: 500px ; margin-top: 50px" placeholder="Enter the 2nd item..."
[(ngModel)]="item2">

<input type="text" style="margin-left: 50px" placeholder="Enter price..."
[(ngModel)]="price2">
<br>
<br>
<button class="btn btn-primary" style="margin-left: 650px"
(click)="OnClick(price1.value,price2.value)">Generate Invoice</button>
<br><br><br>
<table border="2" width=300 style="margin-left: 600px">
    <tr>
        <th>Items</th>
        <td>Price</td>
    </tr>
    <tr>
        <td>{{ item1 }}</td>
        <td rowspan="2">{{ total }}</td>
    </tr>
    <tr>
        <td>{{ item2 }}</td>
    </tr>
</table>
<br><br>
<button class="btn btn-primary" style="margin-left: 680px"
(click)="Checkout()">Checkout</button>
<br><br>
<table border="2" width=300 style="margin-left: 600px">
    <tr>
        <th>Items</th>
        <td>Price</td>
    </tr>
    <tr>
        <td>{{ item11 }}</td>
        <td>{{ price11 }}</td>
    </tr>
    <tr>
        <td>{{ item22 }}</td>
        <td>{{ price22 }}</td>
    </tr>
    <tr>
        <td>{{ bill }}</td>
        <td>{{ final }}</td>
    </tr>
</table>